<div class="card" class="-mt-3">
    <div class="card-header text-white bg-info">
      <h5>{{code1}}</h5>
      <!-- <h5>{{category?.category_name}}</h5> -->
    </div>
    <div class="card-body">

      <table class="table table-bordered table-striped col-6 offset-1">

        <tbody>

          <tr>
            <td><strong>Nom</strong></td>
            <td>{{category?.category_name}} </td>
          </tr>


        </tbody>
      </table>


      <button type="button" class="btn btn-outline-info" (click)="navigateToList()">Back to List</button>




    </div>

  </div>
